<launch>
    <arg name="ugv_poses_path" />
    <arg name="relevant_update_index" />
    <arg name="resolution" />
    <node pkg="localization" type="aerial_global_updater.py" name="aerial_global_updater" output="screen">
        <param name="ugv_poses_path" value="$(arg ugv_poses_path)" />
        <param name="relevant_update_index" value="$(arg relevant_update_index)" />
        <param name="resolution" value="$(arg resolution)" />
  </node>
</launch>