<launch>
    <arg name="ns" default="" />
    <arg name="period_in_ms" default="50" />
    <arg name="frame_id" />
    <arg name="child_frame_id" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg frame_id)_to_$(arg child_frame_id)_static_tf"
          args="0 0 0 0 0 0 $(arg ns)/$(arg frame_id) $(arg ns)/$(arg child_frame_id) $(arg period_in_ms)" />
</launch>