<launch>
    <arg name="ns" default="" />
    <arg name="localization_image_path" />
    <arg name="resolution" />
    <node pkg="localization" type="synthetic_scan_generator.py" name="synthetic_scan_generator" output="screen">
        <param name="localization_image_path" value="$(arg localization_image_path)" />
        <param name="resolution" value="$(arg resolution)" />
    </node>
</launch>